body {
  background-color: black;
  margin: 0;
}

.row {
  display: flex;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  /* flex: 0.4; */
  background-color: white;
  /* width: 50%; */
  height: auto;
  border-radius: 16px;
}

/*.App {
  margin: 50px 50px;
  padding: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid gray;
}

.calculator {
  border: 2px solid gray;
}


.row {
  display: flex;
  justify-content: space-between;
}

.buttom {
  display: flex;
  float: 0.6;
  color: white;
}

.numbers {
  flex: 0.9;
}*/
